

*/


QtProject.conf
mimeapps.list
pavucontrol.ini
zoom.conf
zoomus.conf
user-dirs.dirs
user-dirs.locale

!kitty/
!kitty/*

!ranger/
!ranger/*

!waybar/
!waybar/*

!fish/
!fish/*

!fastfetch/
!fastfetch/*

!nvim/
!nvim/**

!themes/
!themes/*

!hypr/
!hypr/*

!wofi/
!wofi/

!.gitignore

